# Set all text files to use LF in repo and normalized on checkout
* text=auto eol=lf

# Allow for native formatting for third-party code
vertex/third_party/**/* -text -eol linguist-vendored

# Treat common binary asset formats as binary (no line ending conversions)
*.png -text -eol
*.jpg -text -eol
*.wav -text -eol
*.ogg -text -eol
*.flac -text -eol
*.ttf -text -eol
*.icns -text -eol
*.rtf -text -eol
